<h1 class="text-2xl font-bold mb-6 text-center">Plantilla de second thing</h1>

<div class="flex justify-center">
    <form [formGroup]="form" autocomplete="off" class="flex flex-col gap-4 w-80">
        <input type="text" placeholder="Nombre de usuario" formControlName="username" class="border p-2 rounded" />
        <input type="email" placeholder="Correo electrónico" formControlName="email" class="border p-2 rounded" />
        <input type="password" placeholder="Contraseña" formControlName="password" class="border p-2 rounded" />
    </form>
    <div>
        <button  (onclick)="sendForm()">
            <p>Guardar</p>
        </button>
    </div>

</div>